@model IPagedList<Incedo_Octavius_Demo_2.Models.KOL_Image>
@{
    ViewBag.Title = "Index";
}
@using PagedList.Mvc;
@using PagedList;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="justify-content-between">
        @{
            Html.RenderAction("ProfileIndex");
        }
        <h2 class="text-dark text-center alert-heading">
            KOL
        </h2>
        <br />
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
                        <div class="col-md-3">
                            <div class="card" style="border:0px;">
                                <img src="@item.Image_URL" class="card-img-top rounded-circle" alt="Dummy Profile Pic" width="200px" height="200px">
                                <div class="card-body">
                                    <h4>
                            @Html.ActionLink(item.First_Name + " " + item.Last_Name, "Details", "KOL_Details", new { id = item.kolID }, null)
                                    </h4>
                                </div>
                            </div>
                        </div>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", "KOL_Image", new { page }))
</div>
