@{
    ViewData["Title"] = "Business User Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .my_btn {
            margin-top: 300px;
            margin-left:100px;
            border: 5px solid #5f0513;
            border-radius: 40px;
            padding: 20px;
            font-size: 35px;
            height: 100px;
            width: 240px;
            box-shadow: 0 0 10px;
            background-color: #be5723;
            color:white;
        }
        .my_img {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: -1;
            width: 100%;
            height: 100%;
            -webkit-filter: blur(8px); /* Safari 6.0 - 9.0 */
            filter: blur(8px);
        }

    </style>

</head>
<body">

  <img  class="my_img" src="../../Content/img/illustration.jpg"/>


    <div class="container-fluid text-center" style="color:black">

        <div class="row container-fluid">

            <div class="col-md-6 d-flex align-items-center justify-content-center">

                <h2>

                @Html.ActionLink("Degree", "Index", "BusinessUserDegreeModels", routeValues: null, htmlAttributes: new { @class = "btn btn-lg my_btn", @role = "button" })
                </h2>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <h2>
                @Html.ActionLink("Speciality", "Index", "BusinessUserSpecialtyModels", routeValues: null, htmlAttributes: new { @class = "btn btn-lg my_btn", @role = "button" })
                </h2>
            </div>

        </div>

    </div>


@*@{Html.RenderAction("Index", "BusinessUserDegreeModels"); }*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>
