@model IEnumerable<Incedo_Octavius_Demo_2.Models.BusinessUserDegreeModel>

@{
    ViewBag.Title = "Index";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <title>Bussiness Users | Degree</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <h2>Degree Business Rules</h2>
    <p>
        @Html.ActionLink("Create New", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
    </p>
<table class="table table-primary table-hover">
    <tr>
        <th>
                @Html.DisplayNameFor(model => model.Degree_Map)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Degree_Master)
        </th>
        <th></th>
    </tr>

        @foreach (var item in Model)
        {
                                                                                        <tr>
                                                                                            <td>
                    @Html.DisplayFor(modelItem => item.Degree_Map)
                                                                                            </td>
                                                                                            <td>
                    @Html.DisplayFor(modelItem => item.Degree_Master)
                                                                                            </td>
                                                                                            <td>

                    @Html.ActionLink("Edit", "Edit", new { id=item.MapID}) |


                    @Html.ActionLink("Delete", "Delete", new { id=item.MapID })                                                     </td>
                                                                                        </tr>
        }

</table>

</body>
</html>